*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  margin: auto;

}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
#app {
  background: linear-gradient(135deg, rgba(250, 128, 114, 0.35), rgba(169, 169, 169, 1));
  min-height: 100vh;
}

* {
  font-size: 17px;
}

fieldset {
  width: 25%;
  margin: 20px auto;
  box-shadow: 3px 3px 10px 2px gray;
  border-radius: 10px;
  border: none;
  background: rgba(255, 99, 71, 0.6);
}

fieldset legend {
  position: relative;
  top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.submit {
  width: 33%;
  height: 40px;
  border: 1px solid white;
  background: transparent;
  color: white;
  margin-top: 5px;
}

.submit:hover {
  background: rgba(255, 99, 71, 0.8);
}

.form-group {
  margin: auto;
  padding: 5px 0;
}

.form-group:first-of-type {
  padding: 0;
}

input {
  vertical-align: middle;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  height: 40px;
  width: 90%;
}

input:focus, input:hover {
  outline: none;
  background: rgba(255, 99, 71, 0.6);
  border-radius: 3px;
}

fieldset label {
  display: block;
  text-align: left;
  margin: 2px 0;
}